@font-face {
  font-family: "Rubik";
  src: url("./Rubik/Rubik-VariableFont_wght.ttf");
}
* {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Rubik";
}
.pointer {
  cursor: pointer;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#game {
  max-width: 90vw;
  background-color: #ffffff88;
  border-radius: 8px;
  padding: 1rem;
  margin: auto 1rem;
}
body {
  margin: min(1rem, 1vw);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("bg.gif");
  background-position: center;
}
h1,
p {
  color: #2d3748;
}
.text-center {
  text-align: center;
}
.fontsize-xl {
  font-size: 40px;
}

.fontsize-lg {
  font-size: 28px;
}
/* flex */
.flex {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.justify-content-center {
  justify-content: center;
}
.column {
  flex-direction: column;
}
.aligne-item-center {
  align-items: center;
}
/* raduis */
.borderRaduis-md {
  border-radius: 8px;
}
/* padding */
.p-md {
  padding: 0.5rem;
}
.px-xl {
  padding-inline-start: 6rem;
  padding-inline-end: 6rem;
}

/* Margin */
.mx-md {
  margin: 0 0.5rem;
}

.my-md {
  margin: 0.5rem 0;
}
.mt-md {
  margin-top: 0.5rem;
}
.d-none {
  display: none;
}
/* Buttons */
.btn {
  font-weight: 600;
  cursor: pointer;
  font-size: 1.125rem;
  padding-inline-start: 1.5rem;
  padding-inline-end: 1.5rem;
  color: #fff;
  background-color: #319795;
  border-radius: 8px;
  border: solid #718096 2px;
  box-shadow: 1px 2px 2px 0px #4a556888;
  transition-duration: 200ms;
}
.btn:hover {
  background-color: #319795;
}
.btn:active {
  background-color: #a0aec0;
}

/* Input */
.input {
  text-align: center;
  border-radius: 0.25rem;
  border: solid #718096 0.5px;
  padding: 0.25rem 0.75rem 0.25rem 0.5rem;
  box-shadow: 3px 2px 2px 0px #4a556888;
  background-color: #ffffffcc;
  color: #2d3748;
  border: solid #718096 2px;
}
.input:focus {
  outline: none;
  border: solid #319795 2px;
}

.fontsize-xl {
  font-size: 40px;
}
.fontsize-lg {
  font-size: 28px;
}
.fontsize-sm {
  font-size: 14px;
}
.redColor {
  color: #e53e3e;
}
#guess-helper {
  padding: 0;
  margin: 2px;
}

.bg-gray-100 {
  background-color: #edf2f7;
}

#history {
  margin-top: 1rem;
}
#history ul {
  list-style: none;
  padding: 0;
}
#history li {
  font-size: 0.7rem;
  align-items: center;
  text-align: center;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
  background-color: #ffffff55;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  justify-content: space-between;
  box-shadow: 1px 2px 4px 0px #4a556888;
}
#history li:nth-child(odd) {
  background-color: #a7cff655;
}

#history li:hover {
  background-color: #edf2f788;
}
#history li span {
  background-color: #718096;
  color: #fff;
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  box-shadow: 1px 2px 6px 0px #4a556888;
}
#avatar {
  font-size: 5rem;
}
#state {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2d3748;
}
